@import "_plugins/variabel";
* {
	box-shadow:none !important;
}
a {
	text-decoration:none !important;
}
.disable {
	pointer-events: none !important;
}
.object {
	display: flex;
	justify-content: center;
	.content {
		max-width: 360px;
	}
}


#main-content {
	max-width: 420px;
	margin: 0 auto;
	position: relative;
	overflow:hidden;
	background-color: var(--white);
}
button {
	background-color: transparent;
	border:0;
	box-shadow: none;
}
header {
	display: flex;
	align-items: center;
	height: 50px;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.header-button {	
	width: 40px;
	
}
.header-text {
	width: calc(100% - 80px);
}
.button-view-stat {
	height: 15px;
	width: 15px;
	border-radius: 100%;
	@include normal-button();
}
.header-stat {
	width: 50px;
}
.header-plus {
	width: 20px;
	margin-left: 20px;
}
.expander {
	transition: .2s ease;
	span {
		height: 2px;
		width: 17px;
		display: block;
		position: relative;
		background-color: var(--white);
		border-radius:20px;
		transition: .4s ease-in-out;
		top: 0px;
		bottom: 0px;
		&:not(:first-child) {
				margin-top: 7px;
		}
	}
	&.expand {
		transform: rotate(90deg);
		span {
			&:nth-child(even) {
				margin: 0 auto;
				width: 0px;
			}
			&:first-child {
				transform: rotate(-45deg);
				bottom: -11px !important;
			}
			&:last-child {
				top: -13px !important;
				transform: rotate(45deg);	
			}
		}
	}
}

.btn.plus {
	transition: .2s ease;
	span {
		height: 2px;
		width: 17px;
		background-color: var(--white);
		display: block;
		transition: .3s ease;
		position: relative;
		top: 0;
		border-radius:20px;
		&:first-child {
			top: 2px;
			transform: rotate(0deg);
		}
		&:last-child {
			transform: rotate(90deg);
		}
	}
	&.expand {
		transform: rotate(-45deg);
			span {
				&:last-child {
				top: -2px;
				transform: rotate(0deg);
			}
				&:first-child {
					transform: rotate(90deg);
				}
			}
	}
}

/*sider */
.sider {
	&.expand {
		.side-flow {
			left: 0px !important;
			opacity:1;
			z-index: 9;
		}
		#sider {
			left: 0px !important
		}
	}
	.side-flow {
			width: 100vw;
			top: 50px;
			background-color: rgba(0,0,0,.4);
			position: fixed;
			z-index: -2;
			//left: -100%;
			opacity:0;
			height: calc(100% - 50px);
			content: "";
			transition: .2s ease;
	}
	#sider {
		width: calc(100% - 40px);
		height: calc(100vh - 50px);
		display: block;
		position: fixed;
		left: -100%;
		z-index: 99;
		top: 50px;
		transition: .2s ease;
		background-color: var(--primary);
		box-shadow: 2px 0px 10px 0px rgba(0,0,0,.2) !important;
		
	}

}
main {
	margin-top: 50px;
}

.text-null {
	height: calc(100vh - 50px);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.shadow {
	box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1) !important; 
}
.list-parent {
	.header-text {
		width: calc(100% - 40px);
	}
	.card {
		min-height: 164px;
		.card-content  {
			min-height: 75px;
		}
	}
	.card-footer , .card-header {
		height: 44px;
		display: flex;
		border-color: rgba(0,0,0,.05) !important;
		align-items: center;
		.fa {
			font-size: 22px;
		}
	}

}
.button-entry {
	width: 70px;
	position: relative;
	height: 25px;
	display: block;		
	cursor: pointer;	
	&.on {
		small {
			left: 40px;
		}
		.on {
			opacity:1;
		}
	}
	&.off {
		.off {
			opacity:1;
		}
	}
	&:before {
		position: absolute;
		top: 0;
		cursor: pointer;
		left: 0;
		border-radius: 100px;
		width: 70px;
		overflow:hidden;
		content: "";
		height: 25px;
		display: block;
		border:1px solid rgba(0,0,0,.1);
		background-color: var(--secondary);
	}
	small{
		border-radius: 100%;
		height: 30px;
		width: 30px;
		position: relative;
		z-index: 3;
		position: absolute;
		top: -3px;
		cursor: pointer;
		font-size: 12px;
		left: 0px;
		opacity:0;
		transition: .3s ease;
		///transition-timing-function: cubic-bezier(.84,.15,.38,.42);
		color: var(--white);
		line-height: 2.4;
		text-align: center;
		display: block;
	}

	.on {
		background-color: var(--primary)//#45eba5;
	}
	.off {
		background-color:var(--danger)// #f67280;
	}
}


.form-search-object {
		clear: both;
		input {
			width: calc(100% - 40px);
		}
		button {
			width: 40px;
			font-size: 20px;
		}
}
.hide {
	display: none !important;
}
.floating-bar {
	display: block;
	position: fixed;
	z-index: 9999;
	top: 50px;
	left: 0;
	width: 100%;
}
button {
	cursor: pointer;
}