@import "_plugins/variabel";


.main {
	max-width: 420px !important;
	margin-left: auto;
	margin-right: auto;
}


.form-group {
	.col-form-label {
		font-size:14px;
	}
	.form-control {
		min-height: 45px;
		color: var(--black);
		transition: .2s ease;
		&:focus {
			box-shadow: 0px 0px 20px 0px rgba(0,0,0,.05);
			border:1px solid var(--primary);
		}
	}
	.fail {
		display: none;
	}
	&.fail {
		.form-control {
			border:1px solid var(--danger);
		}
		.fail {
			display: block !important;
		}		
	}
}


.loading {
	opacity: 0;
	z-index: -2;
	transition: .3s ease;
	position: relative;
	&.show {
		opacity: 1;
		z-index: 99;
	}

	.loading-bar {
		height: 100vh;
		width: 100vw;
		background-color: rgba(0,0,0,.2);
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		justify-content: center;
		align-items:center;
		flex-direction: column;
		img {
			max-height: 85px;
		}
	}
}
.floating-alert {
	position: fixed;
	top:-40px;
	left: 0;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
	white-space: nowrap;
	opacity: 0;
	transition: .2s ease-in-out;
	&.show {
		opacity: 1!important;
		top: 0 !important;
	}
}