<!DOCTYPE html>
<html lang="en">
	<%- include layouts/head -%>
	<body>
		<section class="object">
			<div class="content card rounded-0 border-0 bg-secondary">
				<div class="card-header bg-blue rounded-0 clearfix">
					<div class="clearfix">
						<div class="float-left">
							<h4 class="text-left text-white mb-0 font-weight-normal">Create New Protocol</h4>
						</div>
						<div class="float-right">
							<a href="/start" class="btn-round ">
								<span class="fa fa-times text-white"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="card-content py-3 px-3">
					<form action="/create/save" method="post" >
						<div class="from-group pt-2">
							<label for="name">Name</label>
							<input type="text" name="name" required id="name" class="form-control"  placeholder="Name">
						</div>
						<div class="from-group pt-2">
							<label for="access">Access</label>
							<input type="text" name="access" id="access" required class="form-control"  placeholder="Name">
						</div>
						<div class="from-group py-2 clearfix">
							<label for="desc">Description</label>
							<textarea name="description" id="desc" required class="form-control w-100 d-block" rows="5" > </textarea>
						</div>
						<div class="w-100 d-block pt-3">
							<button type="submit" class="float-right btn btn-primary px-4" name="submit" >Save</button>
							<a href="/start" class="float-right mr-4 btn btn-primary px-3">Cancel</a>
						</div>
					</form>
				</div>
			</section>
			
		</body>
	</html>