<!DOCTYPE html>
<html lang="en">
	<% include layouts/head %>
	<body>
		<section class="content-main ">
			<div class="object">
				<div class="content">
					<div class="card">
						<div class="card-header">
							joy79tbi7tbgfg
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>