<!DOCTYPE html>
<html lang="en">
<% include layouts/head %>
	<body>
		<section class="object">
			<div class="content card rounded-0  w-100">
				<div class="card-header bg-primary  w-100 clearfix">
					<h4 class="text-center text-white">Remote Origin</h4>
				</div>
				<div class="card-conten clearfix py-5">
					<div class="row justify-content-center">
						<a class="btn btn-primary text-white px-5" href="/start">Start</a>
					</div>
				</div>
			</div>
		</section>
		
	</body>
</html>