<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{env.APP_NAME}}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width , initial-scale=1.0">
		<meta name="description" content="Iot server">
		<link rel="manifest" href="/manifest.json">
		<meta name="keywords" content="iot">
		<meta name="author" content="tofik hidayat">
		<link rel="manifest" href="/manifest.json">
		<link rel="icon" href="/favicon.ico" color="#28c3d4">
		<meta name="theme-color" content="#28c3d4">
		<meta property="fb:app_id" content="1234567890">
		<meta property="og:locale" content="id">
		<meta property="og:title" content="{{env.APP_TITLE}}">
		<meta property="og:url" content="">
		<meta property="og:type" content="iot">
		<meta property="og:description" content="boot iot">
		<meta property="og:image" content="/favicon.ico">
		<!--  linked stylesheet file -->
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
		<body class="bg-secondary " id="content">
			<div class="main" id="main-content">
				<header id="header" class="bg-primary px-2 clearfix">
					<div class="mr-auto header-stat">
						<button class="button-view-stat  view-status float-left bg-success" id="net-button"></button>
						<button class="button-view-stat  view-status float-left ml-2 bg-danger" id="client-button"></button>
					</div>
					<div class="header-text float-left ml-auto">
						<h5 class="text-center mb-0 text-white font-weight-normal">{{env.APP_TITLE}}</h5>
					</div>
					<div class="header-plus float-left">
						<button class="plus btn p-0" id="plus"> 
							<span></span>
							<span></span>
						</button>
					</div>
				</header>
				<main class="w-100 h-100 d-block">
					<div class="floating-bar">
						<div class="alert py-1 px-2 d-flex mb-0 alert-danger rounded-0 hide " id="stat-net">
							<p class="text-danger mb-0 mr-auto" id="stat-net-text">No internet connection</p>
							<button class="btn p-0 fa fa-times text-danger ml-auto remove-alert" id="stat-net-button"></button>
						</div>
						<div class="alert py-1 px-2 d-flex mb-0 alert-info rounded-0 w-100 hide" id="stat-client">
							<p class="text-info mb-0 mr-auto" id="stat-client-text">Client connected</p>
							<button class="btn p-0 fa fa-times text-info ml-auto remove-alert" id="stat-client-button"></button>
						</div>
					</div>
					@!section('content')
				</main>
			</div>
		</body>
		<!-- load javascript file -->
		<script type="text/javascript" src="/js/app.js"></script>
		<script type="text/javascript">
			if ('serviceWorker' in navigator) {
			  window.addEventListener('load', () => {
			    navigator.serviceWorker.register('/service-worker.js')
			        .then((reg) => {
			          console.log('Service worker registered.', reg);
			        });
			  });
			}
		</script>
	</html>
