	<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{env.APP_NAME}}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width , initial-scale=1.0 , user-scalable=no">
		<meta name="description" content="Iot server">
		<link rel="manifest" href="/manifest.json">
		<meta name="keywords" content="iot">
		<meta name="author" content="tofik hidayat">
		<link rel="icon" href="/favicon.ico" color="#28c3d4">
		<meta name="theme-color" content="#28c3d4">
		<meta property="fb:app_id" content="1234567890">
		<meta property="og:locale" content="id">
		<meta property="og:title" content="{{env.APP_TITLE}}">
		<meta property="og:url" content="">
		<meta property="og:type" content="iot">
		<meta property="og:description" content="boot iot">
		<meta property="og:image" content="/favicon.ico">
		<!--  linked stylesheet file -->
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>
		<body class="bg-secondary " id="content">
			<div class="main" id="main-content">
				<header id="header" class="bg-primary px-2 clearfix">
					<div class="mr-auto ">
					</div>
					<div class="header-text float-left ml-auto">
						<h5 class="text-center mb-0 text-white font-weight-normal">{{env.APP_TITLE}}</h5>
					</div>
					<div class="header-plus pr-0 ml-auto float-left ">
						<button class="btn pl-0 pb-0" id="show-drop">
							<i class="fa fa-ellipsis-v text-white "></i>
						</button>
					</div>
					<div class="loader-line"></div>
					<div class="dropdown-v rounded">
						<a href="#update" id="update-worker">Update</a>
						<a href="/login/exit" id="signout">Signout</a>
					</div>
				</header>
				<main class="w-100 h-100 d-block bg-secondary" id="main-action-content">
					@!section('content')
				</main>
				<div class="footer bg-primary row px-0 mx-0 w-100">
					<div class="col-6 px-0">
						<a class="w-100 text-center text-white text-decoration-none active" href="/">Control</a>
					</div>
					<div class="col-6 px-0">
						<a class="w-100 text-center text-white text-decoration-none"  href="/schedule">Schedule</a>
					</div>
				</div>
			</div>
			<div class="loading " id="loading">
				<div class="loading-bar">
					<img src="/images/loading.svg" alt="">
				</div>
			</div>
		</body>
		<!-- load javascript file -->
		<script type="text/javascript" src="/js/app.js"></script>
		@include('layouts.worker')
	</html>
